@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00baa6;
  --color-secondary: #ff8904;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #00baa6;
  --color-secondary: #ff8904;
}